<%= provide(:title, @forum.title) %>
<h1>
	<%= @forum.title %>
</h1>
<p>
	<%= @forum.description %>
</p>
<% if current_user.admin? %>
<%= link_to "New Category", new_forum_category_path(@forum.id), class: "btn btn-lg btn-primary" %>
<% end %>
<div class="center jumbotron">

<ul class="categories">
  <% @categories.each do |category| %>
    <li>
  		<%= link_to category.title, forum_category_path(category.forum_id,category) %>
	</li>
  <% end %>
</ul>

</div>