<%= provide(:title, @topic.title) %>
<h1>
	<%= @topic.title %>
</h1>
<p>
	<%= @topic.description %>
</p>
<div class="center jumbotron">
    <% if @topic.posts.any? %>
      <h3>Posts (<%= @topic.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'shared/post_form', :locals => {:topic_id => @topic.id} %>
      </section>
    </aside>
  </div>
<% end %>
