<%= provide(:title, @topic.title) %>
<h1>
	<%= @topic.title %>
</h1>
<p>
	<%= @topic.description %>
</p>
<div class="center jumbotron">
    <% if @topic.posts.any? %>
      <h3>Posts (<%= @topic.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
<% if logged_in? %>
<p>
  Markdown Formatting:
  * * = Italics  |  ** ** = Bold  |  *** *** = Bold Italics  |  # = Header text (up to 6 to change text size)  |  []()Named link w/ adress (ex. [Wasabi Sandwiches](https://www.youtube.com/channel/UCpzThG_0QFbtTqwqrNRgPDA))
</p>
  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'shared/post_form', :locals => {:topic_id => @topic.id} %>
      </section>
    </aside>
  </div>
<% end %>
