<%= provide(:title, @topic.title) %>
<h1>
	<%= @topic.title %>
</h1>
<p>
	<%= @topic.description %>
</p>
<div class="col-md-8">
    <% if @topic.posts.any? %>
      <h3>Posts (<%= @topic.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
