<%= provide(:title, @category.title) %>
<h1>
	<%= @category.title %>
</h1>
<p>
	<%= @category.description %>
</p>
<% if logged_in? %>
<%= link_to "New Topic", new_forum_category_topic_path(@forum.id,@category.id), class: "btn btn-lg btn-primary" %>
<% end %>
<div class="center jumbotron">

<ul class="topics">
  <% @topics.each do |topic| %>
    <li>
  		<%= link_to topic.title, forum_category_topic_path(@forum.id,topic.category_id,topic.id) %>
      <% if current_user.admin? %>
    | <%= link_to "delete", forum_category_topic_path(@forum.id, topic.category_id, topic.id), method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
	</li>
  <% end %>
</ul>

</div>
<% if logged_in? %>

<% end %>
